# No Backup files in git
*~

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# exclude root and pdf files as well as some useless dat files
*.root
*.pdf
Thread*.dat

# CMake
# only build dirs are ignored
/build*/

# QtCreator
CMakeLists.txt.user

# Doxygen documentation
# use "make doc" to generate it
/doc/
